
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	display: inline-block;
}

#clockdiv div > span{
	display: inline-block;
	color: #fff;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
