 /* Dashboard styling start */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


body{font-family: 'Roboto', sans-serif;background-color:#f7f7f7;}
 .dropbtn{display:none;}
 .padding-0{padding:0!important}
 .outer-box{float:left;width:100%;padding-top:80px;padding-bottom:50px;padding-left:100px;padding-right:100px;box-sizing:border-box;}
 .top-wellcobox img{-webkit-filter: drop-shadow(5px 5px 10px rgba(228,42,95,0.3));
  filter: drop-shadow(5px 5px 10px rgba(228,42,95,0.3));}
.activate-box{float:left;width:100%;position:relative;overflow:hidden;margin-bottom:70px;padding:20px 30px;padding-left:90px;background-color:#d1ecf1;border:solid 1px #bee5eb;border-radius:6px;box-sizing:border-box;}
.top-wellcobox{display:flex;margin-bottom:50px}
.top-wellcobox h1{flex:1;margin:0;font-size:45px;font-weight:300;margin-top:30px}
.top-wellcobox h1 span{font-weight:700}
.activate-box:before{content:"";position:absolute;width:65px;left:0;top:0;height:100%;background-color:#0c5460;}
.activate-box p{float:left;font-size:16px;line-height:16px;color:#0c5460;margin:0;font-weight:500;margin-top:6px}
.active-nowbtn{float:right;display:inline-block;}
.active-nowbtn a{display:block;background-color:#0c5460;color:#fff;padding:5px 30px;border-radius:32px;font-size:16px;line-height:16px;text-decoration:none;font-weight:500}
.active-nowbtn a:hover{background-color:#e42a5f;}
.update-now {padding:4px;text-decoration:none;font-size:21px;border-radius: 22px;color:#fff;background-color:#0c5460;}
.update-now:hover {background-color:#e42a5f !important;color:#fff;}
.tabs{position:relative;float:left;width:100%;padding:0 30px;background-color:#fff;display:flex;box-sizing:border-box;margin-bottom:50px;box-shadow:2px 2px 20px rgba(204,204,204,0.3);border-radius:6px;}
.tabcontent{float:left;width:100%;margin-bottom:30px;display:none;padding:6px 0;border-top:none;box-sizing:border-box;}
.tabs button{background-color:transparent;border:none;padding:30px 0;margin:0 30px;font-size:16px;line-height:16px;color:#777777;cursor:pointer;}
.tabs button:hover{color:#e42a5f;}
.tabs button:focus{outline:none}
.option-btn a:hover{background-color:#e42a5f;color:#fff;transition:all ease-in-out 0.2s;}
.tabs .tablinks.active{color:#e42a5f;position:relative;}
.tabs .tablinks.active:before{content:"";position:absolute;top:0;left:0;height:5px;width:100%;background-color:#e42a5f;}
.option-boxes,.log-badge{float:left;width:100%;background-color:#fff;border:solid 1px #e1e1e1;border-radius:6px;padding:40px 30px 50px;text-align:center;box-sizing:border-box;box-shadow:10px 10px 20px rgba(204,204,204,0.3);}
.option-boxes figure{margin:0;margin-bottom:23px;}
.option-boxes p{color:#777777;margin:0;margin-bottom:27px;}
.option-boxes h3{font-weight:500;margin:0;margin-bottom:11px;}
.option-btn{display:inline-block;}
.option-btn a{font-size:14px;display:block;padding:12px 27px;font-weight:500;text-decoration:none;border:solid 1px #e42a5f;background-color:#fce9ef;border-radius:32px;color:#e42a5f}
.outer-section{float:left;width:100%;display:flex;}
.outer-section .col{-webkit-flex:1;-ms-flex:1;flex:1;padding:0 15px;}
.log-badge{padding:23px 30px;}
.log-badge h3{font-size:20px;font-weight:700;margin:0;text-align:left;letter-spacing:1px;}
.version-message{float:left;width:100%;padding-top:44px;box-sizing:border-box;font-size:14px;color:#555;}
.version-message pre span{font-size:16px;font-weight:700;color:#000;}
.version-message pre:first-child{margin-top:0;margin-bottom:50px;}
.version-message pre:last-child{margin-bottom:30px;}
.version-message p span{font-size:12px;line-height:12px;color:#fff;margin-right:20px;padding:3px 8px;border-radius:32px;background-color:#e42a5f;}
.version-message p span.improve{background-color:#00749c;}
.coming-soon{padding:40px!important;}
.wp-core-ui .notice.is-dismissible{padding:23px 30px;}
.table {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }

.table td,.table th {
   border: 1px solid #333;
   padding: 8px;
 }

.table tr:nth-child(even){background-color: #ddd;}

.table tr:hover {background-color: #fff; color: #333}

.table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #e42a5f;
   color: white;
 }


@media screen and (max-width:1199px){
  .tabs button{margin:0 15px;}
}

@media screen and (max-width:782px){
  .tabs button{margin:0}
  .menu-btn{display:none;}
  .dropbtn{display:block;font-size:30px!important;font-weight:700;}
  .tabs button{padding:20px 0;}
  .tabs{padding:0 20px}
.show{display:block!important;width:250px;position:absolute;left:0;top:60px;background-color:#fff;text-align:left;box-shadow:5px 5px 10px rgba(0,0,0,0.1);}
.tablinks{width:100%;padding:13px 20px!important;text-align:left;border-bottom:solid 1px #ccc!important}

}

@media screen and (max-width:767px){
  .option-boxes{padding:40px 15px 40px}
  .option-boxes p{font-size:14px;line-height:20px;}
  .top-wellcobox h1{font-size:36px;}
  .top-wellcobox{margin-bottom:30px;}
  .activate-box{margin-bottom:50px}
  .outer-box{padding-top:50px;padding-left:30px;padding-right:30px}
  .coming-soon{padding:30px!important;}
  .coming-soon h2{font-size:30px;line-height:36px;margin:0}
  .nav-tab{margin:0 10px}
  #master-template-modalinput-form .input-group{width:100%;}

}

@media screen and (max-width:667px){
  .activate-box p{margin-top:0;font-size:14px;width:60%;line-height:20px;}
  .top-wellcobox img{width:75px;}
  .top-wellcobox h1{font-size:24px;margin-top:25px}
  .activate-box{padding:10px 20px;padding-left:65px;margin-bottom:40px;}
  .active-nowbtn a{padding:5px 20px;}
  .activate-box:before{width:50px}
  .version-message{line-height:24px;}
  .version-message pre:first-child{margin-bottom:20px;}
  .outer-section{display:block;}
  .outer-section .col{padding:0}
  .option-boxes{margin-bottom:30px;}
}
@media screen and (max-width:480px){
  .activate-box p{width:100%;margin-bottom:10px;}
  .active-nowbtn{width:100%;}
  .active-nowbtn a{display:inline-block;}
  .outer-box{padding-left:10px;padding-right:10px;}
}
@media screen and (max-width:425px){
  .tabs,.activate-box{margin-bottom:20px!important;}
  .outer-box {padding-top:30px;}
  .top-wellcobox h1{font-size:20px}
  .coming-soon{margin-bottom:0!important;padding:15px!important;}
  .coming-soon h2{font-size:24px;line-height:36px;margin:0}
  .tabcontent{margin-bottom:20px;}
}
.elementor-panel-category-master-addons .elementor-panel-category-title{
    border-bottom: 2px solid red;
}

 /* Styling for menu and header-fooer end */

 /***************************************************************/
 /***************************************************************/
 /*********************Admin Icons STyle************************/
 /***************************************************************/
 /***************************************************************/
 .team, .call-of-action, .nav-menu, .accordion, .countdown,
 .icon-box, .post-meta, .info-box, .post-author-image, .post-slider,
 .blog-post, .heading, .post-title, .search, .breadcrumbs,
 .post-content, .post-image, .share-post, .testimonials, .vps-slider,
 .product-list, .price
 { display: inline-block; background: url('../images/icon-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

 .team { background-position: -0px -0px; width: 45px; height: 31px; }
 .call-of-action { background-position: -0px -31px; width: 40px; height: 31px; }
 .nav-menu { background-position: -0px -62px; width: 39px; height: 31px; }
 .accordion { background-position: -0px -93px; width: 34px; height: 31px; }
 .countdown { background-position: -0px -124px; width: 34px; height: 31px; }
 .icon-box { background-position: -0px -155px; width: 34px; height: 31px; }
 .post-meta { background-position: -0px -186px; width: 34px; height: 31px; }
 .info-box { background-position: -0px -217px; width: 32px; height: 31px; }
 .post-author-image { background-position: -0px -248px; width: 32px; height: 31px; }
 .post-slider { background-position: -0px -279px; width: 31px; height: 31px; }
 .blog-post { background-position: -0px -310px; width: 31px; height: 31px; }
 .heading { background-position: -0px -341px; width: 31px; height: 31px; }
 .post-title { background-position: -0px -372px; width: 31px; height: 31px; }
 .search { background-position: -0px -403px; width: 31px; height: 31px; }
 .breadcrumbs { background-position: -0px -434px; width: 31px; height: 19px; }
 .post-content { background-position: -0px -453px; width: 31px; height: 31px; }
 .post-image { background-position: -0px -484px; width: 31px; height: 31px; }
 .share-post { background-position: -0px -515px; width: 31px; height: 31px; }
 .testimonials { background-position: -0px -546px; width: 31px; height: 31px; }
 .vps-slider { background-position: -0px -577px; width: 31px; height: 31px; }
 .product-list { background-position: -0px -608px; width: 27px; height: 31px; }
 .price { background-position: -0px -639px; width: 26px; height: 31px; }