
  .custom-class3{
      position: relative;
      overflow: hidden;

  }
  /* .custom-class3:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.30);
    top: 100%;
    left: 0;
    opacity: 0;
    transition: all ease-in-out 0.5s;
  } */
  /* .custom-class3:hover::before{opacity: 1; top: 0;} */

  .btn-class{
    position:absolute;
    bottom:0;
    left:0;
    opacity:0;
    width:100%;
    height:100%;
    display:table;
    top:100%;
    transition:all ease-in-out 1s;
    background-color: rgba(0,0,0,.30);
}

.custom-class3:hover .btn-class{
  opacity:1;
  top:0;
}

  .btn-class:hover::before{opacity: 1; top: 0;}
  .inner-div{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }






  
/* .overlay-btn{position:absolute;left: 0;right: 0;margin: 0 auto;top:40%;opacity: 0;transition:all ease-in-out 0.5s;} */
/* .overlay-btn{position:absolute;left: 0;right: 0;margin: 0 auto;bottom:0;opacity: 0;transition:all ease-in-out 0.5s;background-color: #f28a31;color: #fff;} */
/* .custom-class3:hover .overlay-btn{opacity:1;} */
/* .custom-class3:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.30);
  top: 100%;
  left: 0;
  opacity: 0;
  transition: all ease-in-out 0.5s;
} */
/* .overlay-desc{position:absolute;left: 0;right: 0;margin: 0 auto;top:35%;opacity: 0;transition:all ease-in-out 0.5s;}
.custom-class3:hover .overlay-desc{opacity:1;} */


/* .overlay-desc{
position: absolute;
    left: 0;
    right: 0;
    top: 29%;
    margin: 0 auto;

  } */
  